@media (max-width:768px) {
    .container {
        header {
            .navBar {
                margin-right: -30px;

                a {
                    color: green;
                }
            }
        }

        .sectionGet {
            .titleBar{
                .siteLine{
                    margin-top: -100px;
                }
                .section1Title{
                    top: -111px;
                    font-size: 30px;
                }
            }
            .imgBar {
                .profilImage {
                    margin-top: 0px;
                    position: absolute;
                    margin-left: 35px;
                }
            }
        }

        
    }
}